* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: rgb(43, 43, 43);
}

.header__shrink {
  box-shadow: 0px 0px 10px white;
}

.container {
  width: 85%;
  max-width: 1440px;
  margin: 0px auto;
}

.df {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
}

body {
  color: white;
}

button {
  cursor: pointer;
  transition: all 0.6s;
}
button:hover {
  opacity: 1;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 10px 5px 5px rgb(144, 75, 212);
  color: white;
}

a {
  color: inherit;
  position: relative;
  transition: all 1s;
}

.header {
  width: 100%;
  max-width: none;
  display: flex;
  justify-content: center;
  position: fixed;
  padding: 20px 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: rgba(65, 65, 65, 0.4);
  z-index: 999;
  height: 70px;
}
.header__logo {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header__logo a {
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 23px;
  font-family: monospace;
  letter-spacing: -2px;
}
.header__list.toggle {
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  background-color: rgba(0, 0, 0, 0.317);
}
.header__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  position: fixed;
  left: 85%;
  top: 7%;
  width: 0;
  height: 0;
  -webkit-backdrop-filter: blur(100px);
          backdrop-filter: blur(100px);
  background-color: rgba(128, 128, 128, 0.358);
  box-shadow: 0px 0px 10px gray;
  transition: all 1s;
}
.header__list .header__link {
  display: none;
}
.header__link {
  color: white;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 600;
  background: transparent;
  position: relative;
}
.header__link:hover {
  color: rgb(162, 89, 255);
}
.header__link:hover::after {
  width: 100%;
  transform: rotate(0deg);
  left: 0;
  bottom: -5px;
}
.header__link::after {
  content: "";
  background-color: rgb(95, 89, 255);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  transform: rotate(-90deg);
  transition: all 1s;
}
.header__link .none {
  display: none;
}
.header__auth {
  display: none;
  position: relative;
}
.header__bars {
  background: transparent;
  border: none;
  color: white;
  font-size: 25px;
}
.header .toggle {
  display: flex;
  width: 50%;
  height: 100vh;
  left: 0;
  top: 0;
}
.header .toggle .header__link {
  display: flex;
}

@media (min-width: 992px) {
  .header__logo {
    display: flex;
    gap: 15px;
    align-items: center;
    width: 30%;
  }
  .header__logo a {
    display: flex;
    gap: 15px;
    align-items: center;
  }
  .header__right {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
  }
  .header__list {
    position: static;
    flex-direction: row;
    box-shadow: none;
    height: auto;
    width: auto;
    box-shadow: none;
    background-color: rgba(255, 0, 0, 0);
  }
  .header__list .header__link {
    display: flex;
    background: transparent;
  }
  .header__auth {
    display: flex;
    gap: 10px;
    background-color: blueviolet;
    color: white;
    padding: 15px 25px;
    border-radius: 20px;
    border: none;
    font-size: 16px;
    transition: all 1s;
  }
  .header__auth .none {
    opacity: 0;
    transition: all 1s;
    position: absolute;
  }
  .header__auth .star1 {
    width: 0;
    position: absolute;
    top: 5px;
    left: 10px;
  }
  .header__auth .star2 {
    width: 0;
    position: absolute;
    top: 5px;
    right: 25px;
  }
  .header__auth .star3 {
    width: 0;
    position: absolute;
    bottom: 5px;
    right: 25px;
  }
  .header__auth .star4 {
    width: 0;
    position: absolute;
    bottom: 5px;
    left: 10px;
  }
  .header__auth:hover .none {
    opacity: 1;
  }
  .header__auth:hover .star1 {
    position: absolute;
    top: -13px;
    left: -23px;
  }
  .header__auth:hover .star2 {
    position: absolute;
    top: -15px;
    right: -31px;
  }
  .header__auth:hover .star3 {
    position: absolute;
    bottom: -35px;
    right: -22px;
  }
  .header__auth:hover .star4 {
    position: absolute;
    bottom: -25px;
    left: -16px;
  }
  .header__bars {
    display: none;
  }
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px 30px;
  padding-top: 100px;
}
.hero__img {
  width: 100%;
}
.hero__img img {
  width: 100%;
}
.hero__info {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}
.hero__title {
  max-width: 325px;
  font-size: 38px;
  font-weight: 600;
  line-height: 45.6px;
}
.hero__desc {
  max-width: 325px;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}
.hero__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.hero__form__inputs {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  background-color: rgb(59, 59, 59);
  color: white;
  border: 1px solid rgb(162, 89, 255);
  font-size: 22px;
  font-weight: 600;
  line-height: 30.8px;
}

@media (min-width: 576px) {
  .hero__form__inputs {
    padding: 20px 20px;
    height: 72px;
  }
}
@media (min-width: 768px) {
  .hero {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
  }
  .hero__img {
    width: 100%;
    max-width: 397px;
    height: 100%;
    max-height: 615px;
  }
  .hero__img img {
    width: 100%;
    height: 615px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__info {
    padding: 30px;
  }
  .hero__form__inputs {
    padding: 25px 20px;
    max-width: 330px;
    height: 72px;
  }
}
@media (min-width: 992px) {
  .hero {
    display: flex;
    gap: 50px;
  }
  .hero__img {
    width: 100%;
    max-width: 610px;
    height: 100%;
    max-height: 691px;
  }
  .hero__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }
  .hero__title {
    width: 100%;
    max-width: 460px;
    font-size: 51px;
  }
  .hero__desc {
    width: 100%;
    max-width: 460px;
    font-size: 22px;
  }
  .hero__form__inputs {
    padding: 40px 20px;
    max-width: 330px;
    height: 72px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
}
.footer__all {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.footer__card {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__title {
  font-size: 22px;
  font-weight: 700;
  line-height: 35.2px;
  font-family: monospace;
  display: flex;
  align-items: center;
  gap: 10px;
}
.footer__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
  color: rgb(204, 204, 204);
}
.footer__text__link {
  display: flex;
  gap: 10px;
  color: rgb(204, 204, 204);
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__form input {
  width: 100%;
  max-width: 330px;
  height: 46px;
  border-radius: 20px;
  outline: none;
  border: none;
  padding: 0px 15px;
}
.footer__btn {
  width: 100%;
  max-width: 330px;
  height: 46px;
  background-color: rgb(162, 89, 255);
  border-radius: 20px;
  border: none;
  color: rgb(255, 255, 255);
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.footer__bottom__title {
  height: 33px;
  display: flex;
  justify-content: center;
}
.footer__bottom__text {
  width: 95%;
  padding: 20px;
  font-size: 12px;
  font-weight: 400;
  line-height: 13.2px;
  color: rgb(204, 204, 204);
  border-top: 1px solid rgb(133, 133, 132);
}

@media (min-width: 992px) {
  .footer {
    display: flex;
    gap: 20px;
  }
  .footer__all {
    display: flex;
    flex-direction: row;
    gap: 35px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer__card {
    width: 30%;
    text-align: left;
  }
  .footer__title {
    font-size: 24px;
  }
  .footer__text {
    width: 80%;
    font-size: 18px;
  }
  .footer__text__link {
    justify-content: left;
  }
  .footer__form {
    height: 40%;
    display: flex;
    flex-direction: row;
    gap: 0px;
    justify-content: center;
  }
  .footer__form input {
    width: 80%;
    height: 50px;
  }
  .footer__btn {
    width: 40%;
    height: 50px;
    padding: 0px 20px;
    margin-left: -50px;
    font-size: 14px;
  }
}