

.collection{
    &__desctop{
        display: none;
    }
    // &__toppp{
    //     display: flex;
    //     justify-content: space-around;
    //     gap: 10px;
    // }
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    gap: 15px;
    &__title{
        width: 330px;
        font-size: 28px;
        font-weight: 600;
        line-height: 39.2px;
    }
    &__desc{
        width: 268px;
        height: 60px;
        border: 2px solid rgba(162, 89, 255, 1);
        background: transparent;
        border-radius: 20px;
        line-height: 22.4px;
        color: white;
    }
    &__cards{
        display: flex;
        gap: 15px;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__card{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .second{
        display: none;
    }
    .first{
        display: none;
    }
    &__card__hero__img{
        width: 100%;
    }
    &__card__bottom{
        display: flex;
        gap: 10px;
    }
    &__card__bottom__title{
        font-size: 22px;
        font-weight: 600;
        line-height: 30.8px;
    }
    &__bottom__desc{
        display: flex;
        gap: 10px;
        h2{
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
        }
    }
}

@media (min-width:736px) {
   .collection{
    &__title{
        display: none;
        width: 90%;
        font-size: 28px;
        font-weight: 600;
        line-height: 39.2px;
    }
    
    &__desc{
    display: none;
     width: 268px;
        height: 60px;
        border: 2px solid rgba(162, 89, 255, 1);
        background: transparent;
        border-radius: 20px;
        line-height: 22.4px;
        color: white;
    }

&__desctop{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    .collection__descbtn{
        max-width: 350px;
       display: block;
           display: block;
     width: 100%;
        height: 60px;
        border: 2px solid rgba(162, 89, 255, 1);
        background: transparent;
        border-radius: 20px;
        line-height: 22.4px;
        color: white;
       }
       .collection__title{
        width: 350px;
        display: flex;

       }
    }
    &__cards{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .first{
        display: flex;
    }
   }
    
}
@media (min-width:1080px) {
    .collection{
        &__title{
            width: 90%;
            font-size: 28px;
            font-weight: 600;
            line-height: 39.2px;
        }
        &__desc{
            width: 90%;
            font-size: 16px;
            font-weight: 400;
            line-height: 22.4px;
        }
        .second{
            display: flex;
        }
    }
    
}

@media (min-width:1250px) {
    .collection{
       &__cards{
        display: flex;
        padding: 0px 100px;
        justify-content: space-evenly;
       }
    }
    
}