%global__column{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
%global__colum{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
%color__dark{
    color: rgba(133, 133, 132, 1);
}
%font__size__desc{
    font-size: 16px;
    font-weight: 400px;
    line-height: 22.4px;
}
%desc_size{
    font-size: calc(4vw + 4vh + 2vmin);
}
.hero{
    @extend %global__column;
    &__img__top{
        width: 95%;
        object-fit: cover;
    }
    &__all{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
        padding: 30px;
    }
    &__all__top{
        @extend %global__colum;
    }
    &__title{
        font-size: calc(2vw + 2vh + 1vmin);
    }
    &__desc{
      @extend %font__size__desc;
      @extend %color__dark;
    }
    &__clocks{
        width: 100%;
        max-width: 315px;
        max-height: 234px;
        background-color:rgba(59, 59, 59, 1);
        backdrop-filter: blur(10px);
        padding: 30px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__clock__title{
        font-size: 12px;
        font-weight: 400px;
        line-height: 13.2px;
        color: white;
    }
    &__clock{
        color: white;
        font-size: 35px;
        font-weight: 700;
        line-height: 45.6px;
        display: flex;
        justify-content: left ;
        align-items: center;
    }
    &__clock__names{
        display: flex;
        justify-content: space-between;
        p{
            font-size: 12px;
            font-weight: 400;
            line-height: 13.2px;
        }
    }
    &__clock__btn{
        font-size: 16px;
        font-weight: 600px;
        line-height: 22.4px;
        border-radius: 20px;
        background-color: rgba(162, 89, 255, 1);
        padding: 15px 50px;
        border: none;
        color: white
        
    }
    &__create{
        @extend %global__column;
        text-align: left;
    }
    &__create__title{
        width: 100%;
        @extend %font__size__desc;
     @extend %color__dark;
     text-align: left;
    }
    &__create__desc{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        img{
            width: 25px;
            height: 25px;
        }
        p{
         @extend %font__size__desc;
        }
    }
    &__create__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        gap: 20px;
     }
    
   &__create__desc{
        width: 100%;
        display: flex;
        justify-content: left;
        line-height: 20px
    }
    &__create__info__desc{
        line-height: 23px;
    }
     &__create__details{
        width: 100%;
      @extend %global__colum;
      gap: 10px;
        
     }
     &__create__tags{
        width: 100%;
        @extend %global__colum;
        gap: 10px;
     }
}



@media (min-width:760px) {
    .hero.mobile{
        display: none;
    }
    .hero_desctop__bottom{
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
    }
       .hero__clocks{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero__clock__names{
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
 .hero{

    &__create{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__clocks{
    width:300px;
    height: 320px;
    }
    .hero__img__top{
    width: 100%;
    }
    &__create__info{
        width: 60%;
    }
 }
}