.create__hero{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px 30px;
    padding-top: 100px;
    &__img{
        width: 100%;
        img{
            width: 100%;

        }
    }
    &__info{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
    &__title{
        max-width: 325px;
        font-size:38px ;
        font-weight: 600;
        line-height:45.6px;
    }
    &__desc{
        max-width: 325px;
        font-size: 16px;
        font-weight: 400;
        line-height:22.4px ;
    }
    &__form{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    &__form__inputs{
        display: flex;
        align-items: center;
        gap: 10px;
        border-radius: 20px;
        background-color: rgba(255, 255, 255, 1);
        color: rgba(133, 133, 132, 1);
        padding: 0px 20px;
        input{
            background-color: transparent;
            outline: none;
            border: 1px;
            width: 100%;
            height: 46px;
        }
    }
    &__btn{
        max-width: 100%;
        margin-top: 15px;
        width: 100%;
        height: 46px;
        border-radius: 20px;
        background-color: rgba(162, 89, 255, 1);
        color: rgba(255, 255, 255, 1);
        padding: 0px 20px;
        border: none;
    }

}

@media (min-width:768px) {
    .create__hero{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 30px;
        &__img{
            width: 100%;
            max-width: 397px;
            height: 100%;
            max-height: 615px;
            img{
                width: 100%;
                height: 615px;
                object-fit: cover;
            }
        }
        &__info{
            padding: 30px;
        }

     &__form__inputs{
        max-width: 330px;
        max-height: 46px;
     }
     &__btn{
        max-width: 330px;
        max-height: 46px;
     }

    }
    

    
}

@media (min-width:992px) {
    .create__hero{
        display: flex;
        gap: 50px;
        &__img{
            width: 100%;
            max-width: 610px;
            height: 100%;
            max-height: 691px;
            img{
                object-fit: cover;
            }
        }
        &__title{
            width: 100%;
            max-width: 460px;
            font-size: 51px;
        }
        &__desc{
            width: 100%;
            max-width: 460px;
            font-size: 22px;
        }
    }
}