*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif ;
}
body{
    background-color: rgba(43, 43, 43, 1);
}
.header__shrink{
    box-shadow: 0px 0px 10px white;
}
.container{
    width: 85%;
    max-width: 1440px;
    margin: 0px auto;
}

.df{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
}



body{
  color: white;
}

button{
    cursor: pointer;
    transition: all 0.6s;
    &:hover{
        opacity: 1;
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow:  10px 5px 5px  rgb(144, 75, 212);
    color: white;
    }
    
}

a{
    color: inherit;
    position: relative;
    transition: all 1s;
   
  }


//   <span class="star1 none"><img src="./IMG/star.svg" alt=""></span>
//   <span class="star2 none"><img src="./IMG/star.svg" alt=""></span>
//   <span class="star3 none"><img src="./IMG/star.svg" alt=""></span>
//   <span class="star4 none"><img src="./IMG/star.svg" alt=""></span>
// .none{
//     opacity: 0;
//     transition: all 1s;
//     position: absolute;
// }
// .star1{
//     width: 0;
//     position: absolute;
//     top: 5px;
//     left: 10px;
//   }
//   .star2{
//     width: 0;
//     position: absolute;
//     top: 5px;
//     right: 25px;
//   }
//   .star3{
//     width: 0;
//     position: absolute;
//     bottom: 5px;
//     right: 25px;
//   }
//   .star4{
//     width: 0;
//     position: absolute;
//     bottom: 5px;
//     left: 10px;
//   }
// &:hover{
//     .none{
//       opacity: 1;
//     }
//     .star1{
//         position: absolute;
//         top: -13px;
//         left: -23px;
//       }
//       .star2{
//         position: absolute;
//         top: -15px;
//         right: -31px;
//       }
//       .star3{
//         position: absolute;
//         bottom: -35px;
//         right: -22px;
//       }
//       .star4{
//         position: absolute;
//         bottom: -25px;
//         left: -16px;
//       }
// }