.working{
    width: 100%;
    padding: 50px 0 0 0 ;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    &__title{
        width: 80%;
        font-size: 20px;
        font-family: 600;
        line-height: 22.4px;
    }
    &__desc{
        width: 80%;
        font-size:16px ;
        font-family: 400;
        line-height: 16.8px;
    }
    &__cards{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;

    }
    &__card{
        width: 80%;
        display: flex;
        gap: 25px;
        border-radius: 20px;
        padding: 20px;
        background-color: rgba(59, 59, 59, 1);
    }
    &__card__img{
        width: 100px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__card__info{
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;

    }
    &__card__title{
        font-size: 18px;
        font-weight: 600;
        line-height: 22.4px;
    }
    &__card__desc{
        font-size: 14px;
        font-weight: 400;
        line-height: 16.8px;
    }

}

@media (min-width:576px) {
    .working{
        &__cards{
            display: flex;
            flex-direction: row;
            gap: 0px;
            justify-content: space-evenly;
        }
        &__card{
            width: 30%;
            max-width: 330px;
            height: 350px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        &__card__img{
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                max-width: 210px;
            }
        }
        &__card__info{
            text-align: center;
            width: 100%;

        }
        
    }
}

@media  (min-width:768px) {
      .working{
        width: 100%;   
        &__cards{
            width: 100%;
            display: flex;
            flex-direction: row;
            gap: 0px;
            justify-content: space-evenly;
        }
        &__card{
            max-width: 300px;
            max-height: 350px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 20px;
        }
        
      }
}

@media (min-width:992px) {
    .working{
        width: 100%;
        &__title{
            font-size: 31px;
        }
        &__desc{
            font-size: 22px;
        }

        &__cards{
            display: flex;
            justify-content: space-evenly;
        }
        &__card__title{
            font-size: 22px;
        }
        &__card__desc{
            font-size: 14px;
        }

    }
    
}